@font-face {
  font-family: 'satella-regular';
  src: url('font/satellaregular-zvvaz-webfont.woff2') format('woff2'),
       url('font/satellaregular-zvvaz-webfont.woff') format('woff'),
       url('font/satellaregular-zVVaz-webfont.ttf') format('truetype');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%);
}

header.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

main p  {
  margin-left: 5%;
  font-size: 110%;
  color:white;
  font-family: 'satella-regular';
}

h1 {
  margin-left: 5%;
  font-size: 150%;
  color:white;
  font-family: 'satella-regular';
}

#banner{
  margin-left: -6%;
  width: 106%;
  z-index: -1;
}

#flex-1 {
  display: flex;
  position: absolute;
  top: 40%;
  left: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: table-cell;
}

#header-margin{
  margin-top: -5px;
  z-index: 1;
}

ul :not(:last-child){
  border-right: 1px solid #bbb;
  background-color: #333;
}

li {
  float: left;
}

#spacer{
  padding: 15px 16px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#triangle-topleft {
     width: 0;
     height: 0;
     border-top: 48px solid #333;
     border-right: 100px solid transparent;
}

footer {
  background-color: #111;
    display: table-row;
    height: 0;
}

#credits {
  background-color: grey;
  text-align: center;
  position: relative;
  top: 16px;
}

footer p  {
  margin: auto;
  display:table-cell
  font-size: 110%;
  color:white;
  font-family: 'satella-regular';
}

.wrap {
  display:table;width:100%
}

a:link, a:visited{

  text-decoration: none;
  color: white;
  font-size: 110%;
  font-family: 'satella-regular';
}

a:hover, a:active{
  text-decoration: none;
  color: grey;
  font-size: 110%;
  font-family: 'satella-regular';
}
#contact1{
  margin-left: 15%;
  width: 15%;
  float: left;
}
#contact2{
  width: 15%;
  float: left;
}
.main-wraper{
  min-height: 100vh;
}
#flex-2{
  display: flex;
  flex-direction: row;
  width: 99vw;
  outline: solid 1px red;
  min-height: 1000px;
}
#flex-3{
  display: flex;
  flex-direction: column;
  outline: solid 1px red;
  flex: 1;
}

#flex-4{
  display: flex;
  flex-direction: column;
  width: 250px;
  outline: solid 1px red;
  height: 300px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 257px;
}
#support-us{
  margin: 5px;
  border-radius: 25px;
  background: #111;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
}
#support-us-button{
  display: block;
  text-decoration: none;
  padding: 2px;
  background-color: rgba(9,9,121,0.75);
}
